[submodule "gateway"]
        path = services/gateway
        url = git://github.com/staymarta/gateway.git

[submodule "users"]
	path = services/users
	url  = git://github.com/staymarta/users.git

[submodule "services-base"]
	path = development/service-base
	url  = git://github.com/staymarta/service-base.git

[submodule "libcommunication"]
	path = services/libcommunication
	url  = git://github.com/staymarta/libcommunication.git
